<!doctype html>
<html lang="en">
<head>
    <title>CityGo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <h1><a href="/index" class="logo">GO</a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/index"><span class="fa fa-home"></span> Home</a>
            </li>
            <li>
                <a href="/user/challenges"><span class="fa fa-sticky-note"></span> Your quests</a>
            </li>
            <li>
                <a href="/achievements"><span class="fa fa-user"></span>Achieve
                    ments</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">{{.userInfo.Username}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Section: News of the day-->
        <div class="row gx-5">
            <div class="col-md-6 mb-4">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src="../assets/images/{{(index .challenge.Attachments 0).ID}}" class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
            </div>
            <br>
            <div class="col-md-6 mb-4">
                <h4><strong>{{.challenge.Title}}</strong></h4>
                <p class="text-muted">
                    {{.challenge.Description}}
                </p>
            </div>
            <br>
        </div>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">Sponsor</dt>
            <dd class="col-sm-9">IITU</dd>

            <dt class="col-sm-3">Start Date</dt>
            <dd class="col-sm-9">25 April</dd>

            <dt class="col-sm-3">End Date</dt>
            <dd class="col-sm-9">2 May</dd>
        </dl>
        <hr>
        <div class="col-md-6 mb-4">
            <form action="" method="post">
                <label class="sr-only" for="inputHelpBlock">Input with help text</label>
                <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock"
                       name="answer" placeholder="Answer">
                <br>
                <div class="form-group form-button">
                    <input type="submit" class="form-submit" value="Send answer"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/popper.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>