<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/all.css">
    <link rel="stylesheet" href="assets/styles/index.css">
    <title>CityGo</title>
</head>
<body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="logo" href="#">CityGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="mx-xl-5 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link active" aria-current="page" href="/index">Main</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="/challenges">Quests</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="/profile">Your progression</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="/achievements">Achievments</a>
                    </li>
                </ul>
                <a class="nav-link" href="#">
                    <img class="profile-icon" src="assets/image/profile-icon.svg" alt="">
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="main">
            <h1>ЧТО <br>ТАКОЕ <br>CITYGO?</h1>
            <div class="rec"></div>
            <div class="rec2"></div>
            <div class="main-info">
                <p>CITYGO - Это платформа которая позволяет <br>
                    вам участвовать в крутых квестах <br>
                    и челленджах и получать за них <br>
                    разного рода призы</p>
            </div>
        </div>
        <div class="sec2">
            <h3>Участвуй в челлендже <br>
                и выиграй беслатную доставку</h3>
            <p class="mt-xl-5">спонсор: Glovo Kazakhstan</p>
            <img class="burger" src="assets/image/burger.svg" alt="">
            <img class="pizza" src="assets/image/pizza.svg" alt="">
        </div>
        <div class="sec3">
            <h3 class="s3-h3">Quests:</h3>
            <div class="glovo">
                <div class="g-header">
                    <div class="g-info">
                        <img src="assets/image/glovo.png" alt="">
                        <h3>Glovo Kazakhstan</h3>
                    </div>
                    <div class="date">Until 5.05.22</div>
                </div>
                <div class="g-body">
                    <h3>Разгадай задачу <br>
                        и получи бесплатную доставку!</h3>
                    <button>Museum</button>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>
                </div>
            </div>
            <div class="glovo mt-5">
                <div class="h-header">
                    <div class="g-info">
                        <img src="assets/image/huawei.png" alt="">
                        <h3>Huawei Kazakhstan</h3>
                    </div>
                    <div class="date">Until 7.06.22</div>
                </div>
                <div class="g-body">
                    <h3>Узнай главные секреты города и <br>стань одним из обладателей новой <br> Huawei Ki53</h3>
                    <button>Landmarks</button>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>
                </div>
            </div>
            <div class="go-center">
                <button class="more">See more</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="f-body">
                <div class="list">
                    <ul>
                        <li><a href="">Main</a></li>
                        <li><a href="">Quests</a></li>
                        <li><a href="">Your progression</a></li>
                        <li><a href="">Achievments</a></li>
                    </ul>
                </div>
                <div class="copy">
                    <h2>CityGO</h2>
                    <p>Copyright © 2021-2022 CityGo S.L. <br>
                        All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
